header.main-layout{
  color:#fff;
  padding:10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: rgba(255,255,255,0.1) solid 1px;
}
