@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('./header.css');
@import url('./socialmedia.css');
@import url('./socialmedia.css');
@import url('./categories.css');
@import url('./slider.css');
.background-canvas{
  background: #000;
}
*{
  padding:0px;
  margin:0px;
}
div.main-layout{
  color:#fff;
  min-height: 100%;
}
footer.main-layout{
  border-top: 1px #fff solid;
  z-index:10;
  background: black;
  color:#fff;
  position: sticky;
  bottom: -10;
}
.article-layout{

}
aside.article-layout{

}
.prototype-layout{

}
header.prototype-layout{

}
.about-me-content{

}
.about-me-title{
  color: #f00;
  font-family: monospace;
}
.title h1{
  font-size:60px;
  font-family: 'VT323', monospace;
}
.to-right{
  text-align: right;
}
.background-canvas{
  position: fixed;
  top:0;
  left:0;
  z-index:0;
}
.main-theme>*:not(.background-canvas){
  z-index:10;
}
.about-me-content{
  font-family: monospace;
  color:#fff;
  padding-bottom: 50px;
}
.line-separate-button{
  padding: 2px 30px;
  background: rgba(0,0,0,0);
  border-left: 1px #f00 solid;
  border-right: 1px #f00 solid;
  border-top: 0px #f00 solid;
  border-bottom: 0px #f00 solid;
}
.line-separate-button{
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear;
  text-decoration: none;
  color: #f00;
  cursor: pointer;
}
.line-separate-button:hover{
  /*
  border-left: 1px #00f solid;
  border-right: 1px #00f solid;
  */
  background: #400;
  color: #fff;
}
