.social-box{
  position:absolute;
  top:5px;
  right:5px;
}
.social-box:hover{
  background: #fff;
}
.social-media-button{
  display: inline-block;
}
.social-media-icon{
  width:40px;
  height:40px;
}
.social-media-icon.color{
  display: none;
}
.social-media-icon.gray{
  opacity: 0.5;
  display: inline-block;
  filter:invert(100%);
}
.social-media-button:hover .social-media-icon.color{
  display: inline-block;
}
.social-media-button:hover .social-media-icon.gray{
  display: none;
}
